<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
    <ion-label>4 en total</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Label only -->
  <ion-segment value="call" style="width: 50%;">
    <ion-segment-button value="call" >
      <ion-label >Gastos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorite">
      <ion-label>Ingresos</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item>
      <div class="circle"></div>
      <ion-label>
        <h2>Gastos pasajes</h2>
        <p>Incluye solo pasajes urbanos y taxis</p>
      </ion-label>
    </ion-item>
  </ion-list>

  

</ion-content>
